@mixin x-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin y-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin n-center {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}