// font sizes
$header: 1.22rem !important;
$subhead: 1rem !important;
$paragraph: 0.9rem !important;
// modal
$modal-header: 1.9rem !important;
$modal-input-header: 1.3rem !important;
$modal-input-subhead: 1.1rem !important;
// table modal
$table-modal-header: 1.48rem !important;
$table-modal-subhead: 1.18rem !important; 
$table-modal-paragraph: 1rem !important;
// ic
$ic-size: 20px;
// button
$btn-span-size: 0px !important; // not use yet

// sidebar
$logo: 1.5rem !important;
$li: 1.19rem !important;



// font weights
$regular: 400 !important;
$medium: 500 !important;
$semibold: 600 !important;
$bold: 700 !important;

// buttons
$btn-primary: #4848FE;
$btn-success: #19C773;
$btn-danger: #F24E4E;
$btn-warning: #FE7A30;
$btn-cancel: #999999;

// icons
$ic-primary: #359EFF;
$ic-success: #19C773;
$ic-danger: #FF6C6C;

// icons background
$ic-primary-bg: #C0DEFA;
$ic-success-bg: #C0FADE;
$ic-danger-bg: #FAC0C0;


// accent colors
// $violet: #9777C0;
$violet: #8B69B6;
$orange: #FFB163;
$orange2: #FE7A30;
$black: #464646;

// main background
$back: #F4F6FA;
$front: #FFF;
$input-background: #FAFAFA;

// table font color
$table-subhead: #ABABAB;

// sidenav color li
$li-normal: #B7B7B7;