// FOREGROUND AND BACKGROUND
$back: #F4F6FA;
$front: #FFFFFF;
$loginRight: #FFB163;




// Buttons Properties
// background-color
$btn-add: #4848FE;
$btn-edit: #19C773;
$btn-delete: #F24E4E;
$btn-secondary: #FE7A30;





// Icons Properties
// color 
$i-view: #359EFF;
$i-edit: #19C773;
$i-delete: #FF6C6C;
// background-color
$bgi-view: #C0DEFA;
$bgi-edit: #C0FADE;
$bgi-delete: #FAC0C0;





// Font Properties
// font-weights
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
