@import 'sass/Config';
@import 'sass/Variables';
@import 'sass/mixins//Position';

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 40px;

    .sidebar {
        height: 100%;
        width: 18%;
        padding: 40px 30px 50px 50px !important;

        &__logo {
            margin-bottom: 52px;
            transform: translateX(-8px);

            .logo {
                height: 40px;
                width: 40px;
            }

            h3 {
                font-size: 1.9rem !important;
            }
        }



        & nav > ul > li {
            padding: 15px 0;

            
            &:nth-child(1).active {
                color: #000 !important;
                position: relative;

                &::after {
                    content: '';
                    height: 35px;
                    width: 4px;
                    background-color: $violet;
                    border-radius: 20px;
                    position: absolute;
                    top: 11px;
                    right: -30px;
                }
            }
            
            &:nth-child(4).active {
                color: #000 !important;
                position: relative;

                &::after {
                    content: '';
                    height: 35px;
                    width: 4px;
                    background-color: $violet;
                    border-radius: 20px;
                    position: absolute;
                    top: 11px;
                    right: -30px;
                }
            }



            &.li__dashboard.active {
                &::before {
                    content: url('https://api.iconify.design/ic/outline-space-dashboard.svg?color=%239747ff&height=32');
                    position: absolute;
                    top: 12px;
                    left: -42px;
                    
                }
            }

            &.li__dashboard {
                &::before {
                    content: url('https://api.iconify.design/ic/outline-space-dashboard.svg?color=%23B7B7B7&height=32');
                    position: absolute;
                    top: 12px;
                    left: -42px;
                }
            }

            &.li__records.active {
                &::before {
                    content: url('https://api.iconify.design/fluent/task-list-square-rtl-24-regular.svg?color=%239747ff&height=32');
                    position: absolute;
                    top: 12px;
                    left: -42px;
                }
            }

            &.li__records {
                &::before {
                    content: url('https://api.iconify.design/fluent/task-list-square-rtl-24-regular.svg?color=%23B7B7B7&height=32');
                    position: absolute;
                    top: 12px;
                    left: -42px;
                }
            }

            &.li__report.active {
                &::before {
                    content: url('https://api.iconify.design/heroicons-outline/chart-square-bar.svg?color=%239747ff&height=32');
                    position: absolute;
                    top: 12px;
                    left: -42px;
                }
            }

            &.li__report {
                &::before {
                    content: url('https://api.iconify.design/heroicons-outline/chart-square-bar.svg?color=%23B7B7B7&height=32');
                    position: absolute;
                    top: 12px;
                    left: -42px;
                }
            }

            &.li__activities.active {
                &::before {
                    content: url('https://api.iconify.design/mdi/text-box-search-outline.svg?color=%239747ff&height=32');
                    position: absolute;
                    top: 12px;
                    left: -42px;
                }
            }

            &.li__activities {
                &::before {
                    content: url('https://api.iconify.design/mdi/text-box-search-outline.svg?color=%23B7B7B7&height=32');
                    position: absolute;
                    top: 12px;
                    left: -42px;
                }
            }



            & > a {
                font-size: 1.39rem;
            }
        }

        & nav > ul > li > ul {
            margin-top: 20px;

            li.employee-active {
                &::before {
                    top: -6px;
                }
            }
        }

        & nav > ul > li > ul > li > a{
            font-size: 1.39rem;
        }

        &__logout {
            & > .li__logout { 

                &::before {
                    content: url('https://api.iconify.design/akar-icons/sign-out.svg?color=%23B7B7B7&height=32');
                    position: absolute;
                    top: 6px;
                    left: -42px;
                }

                a {
                    font-size: 1.39rem;
                }
            }
        }
    }

    .feed {
        padding: 50px 20px 25px 37px;
        height: 100%;
        width: 56%;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: repeat(15, minmax(auto, 200px));
        grid-gap: 25px;

        /* width */
        &::-webkit-scrollbar {
            width: 0px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1; 
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888; 
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }

        & > div {
            box-sizing: border-box;
            border-radius: 8px;
        }

        // page info
        & > div:nth-child(1){
            grid-row: 1 / 2;
            grid-column: 1 / 13;
            background-color: transparent;

            & > h1 {
                font-size: 1.45rem !important;
                font-weight: $semibold;
            }
        }

        // banner
        & > div:nth-child(2){
            grid-row: 2 / 5;
            grid-column: 1 / 13;
            padding-left: 40px;

            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            position: relative;
            box-sizing: border-box;
            background-color: white;

            & > .welcome {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 70%;
                box-sizing: border-box;

                h1 {
                    font-size: 1.53rem !important;
                    font-weight: $medium;
                }

                p {
                    width: 480px;
                    font-size: 1.3rem !important;
                    color: #50505B;
                    padding-bottom: 5px;
                }

                button {
                    height: 40px;
                    width: 140px !important;
                    background-color: $orange2;
                    font-weight: $semibold;
                    font-size: 1.2rem;
                    
                    & > a {
                        color: white;
                    }
                }
            }


            & > .svg {
                box-sizing: border-box;
                height: 100%;
                position: absolute;
                top: -85px;
                right: 50px;

                & object {
                    height: 295px;
                    width: 490px;
                    // background: red;
                }
            }
        }

        // statistics
        & > div:nth-child(3){
            grid-row: 5 / 11;
            grid-column: 1 / 13;
            display: flex;
            flex-direction: column;
            width: 100%;
            position: relative;

            & > .statistics__header {

                h2 {
                    font-size: 1.43rem;
                    font-weight: $semibold;
                }
            }

            & > .statistics__content {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 20px;
                height: 100%;
                width: 100%;
                padding-top: 25px;
                
                .card {
                    // height: 65.49%;
                    width: 48.98%;
                    background: white;
                    border-radius: 8px;
                    
                }
            }
        }

        & > div:nth-child(4){
            grid-row: 11 / 16;
            grid-column: 1 / 13;
            background: white;
        }
    }

    .rightbar {
        height: 100%;
        width: 26%;
        background: white;
    }
}