@import 'sass/Config';

.main-container {
    height: 100vh;
    width: 100vw;
    background-color: $back;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;


    & > .leftbar {
        height: 100%;
        background: $front;
        position: relative;
        width: 18%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 25px 0px 20px 30px;
        box-sizing: border-box;

        @media only screen and (min-width: 1050px) {
            padding: 25px 0px 20px 20px;
        }

        @media only screen and (min-width: 1300px) {
            padding: 25px 0px 20px 30px;
        }

        @media only screen and (min-width: 1500px) {
            padding: 25px 0px 20px 30px;
        }

        @media only screen and (min-width: 1700px) {
            padding: 25px 0px 20px 50px;
        }

        & > .logo-container {
            height: 7%;
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;

            @media only screen and (min-width: 1050px) {
                transform: translateX(0px);
            }
    
            @media only screen and (min-width: 1300px) {
                transform: translateX(0px);
            }
    
            @media only screen and (min-width: 1500px) {
                transform: translateX(0px);
            }
    
            @media only screen and (min-width: 1700px) {
                transform: translateX(-10px);
            }


            & > .logo {
                height: 30px;
                width: 30px;
                background-image: url("../img/jtdv.png");
                background-size: cover;
                margin-right: 10px;

                @media only screen and (min-width: 1050px) {
                    height: 30px;
                    width: 30px;
                }
        
                @media only screen and (min-width: 1300px) {
                    height: 30px;
                    width: 30px;
                }
        
                @media only screen and (min-width: 1500px) {
                    height: 30px;
                    width: 30px;
                }
        
                @media only screen and (min-width: 1700px) {
                    height: 40px;
                    width: 40px;
                }
            }

            & > h1 {
                font-size: 18px;
                font-weight: $bold;
                color: #774AB0;

                @media only screen and (min-width: 1050px) {
                    font-size: 18px;
                }
        
                @media only screen and (min-width: 1300px) {
                    font-size: 18px;
                }
        
                @media only screen and (min-width: 1500px) {
                    font-size: 18px;
                }
        
                @media only screen and (min-width: 1700px) {
                    font-size: 22px;
                }
            }
        }

        & > .links-container {
            height: 88%;
            width: 100%;
            position: relative;
            box-sizing: border-box;
            padding-left: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & > ul {
                list-style: none;

                & > li {
                    margin-bottom: 10px;
                    padding: 5px 0;
                    font-weight: $semibold;
                    position: relative;
                    color: #B7B7B7;
                    transition: 200ms ease-in-out;

                    @media only screen and (min-width: 1050px) {
                        font-size: 14px;
                        padding: 5px 0;
                    }

                    @media only screen and (min-width: 1300px) {
                        font-size: 16px;
                        padding: 5px 0;
                    }

                    @media only screen and (min-width: 1500px) {
                        font-size: 16px;
                        padding: 5px 0;
                    }

                    @media only screen and (min-width: 1700px) {
                        font-size: 18px;
                        padding: 10px 0;
                    }

                    & > a {
                        text-decoration: none;
                        color: #B7B7B7;

                        @media only screen and (min-width: 1050px) {
                            font-size: 14px;
                        }

                        @media only screen and (min-width: 1300px) {
                            font-size: 16px;
                        }

                        @media only screen and (min-width: 1500px) {
                            font-size: 16px;
                        }

                        @media only screen and (min-width: 1700px) {
                            font-size: 18px;
                        }
                    }

                    &:nth-child(1):hover {
                        color: #000;

                        &::before {
                            content: url('https://api.iconify.design/ic/outline-space-dashboard.svg?color=%239747ff&height=25');
                            position: absolute;
                            top: 20px;
                            left: -38px;

                            @media only screen and (min-width: 1050px) {
                                content: url('https://api.iconify.design/ic/outline-space-dashboard.svg?color=%239747ff&height=25');
                                left: -38px;
                            }
    
                            @media only screen and (min-width: 1300px) {
                                content: url('https://api.iconify.design/ic/outline-space-dashboard.svg?color=%239747ff&height=25');
                                left: -38px;
                            }
    
                            @media only screen and (min-width: 1500px) {
                                content: url('https://api.iconify.design/ic/outline-space-dashboard.svg?color=%239747ff&height=25');
                                left: -38px;
                            }
    
                            @media only screen and (min-width: 1700px) {
                                content: url('https://api.iconify.design/ic/outline-space-dashboard.svg?color=%239747ff&height=35');
                                left: -48px;
                            }
                        }

                        & > a {
                            color: #000;
                        }
                    }

                    &:nth-child(2):hover {
                        color: #000;

                        &::before {
                            content: url('https://api.iconify.design/fluent/task-list-square-rtl-24-regular.svg?color=%239747ff&height=25');
                            position: absolute;
                            top: 20px;
                            left: -38px;

                            @media only screen and (min-width: 1050px) {
                                content: url('https://api.iconify.design/fluent/task-list-square-rtl-24-regular.svg?color=%239747ff&height=25');
                                left: -38px;
                            }
    
                            @media only screen and (min-width: 1300px) {
                                content: url('https://api.iconify.design/fluent/task-list-square-rtl-24-regular.svg?color=%239747ff&height=25');
                                left: -38px;
                            }
    
                            @media only screen and (min-width: 1500px) {
                                content: url('https://api.iconify.design/fluent/task-list-square-rtl-24-regular.svg?color=%239747ff&height=25');
                                left: -38px;
                            }
    
                            @media only screen and (min-width: 1700px) {
                                content: url('https://api.iconify.design/fluent/task-list-square-rtl-24-regular.svg?color=%239747ff&height=35');
                                left: -48px;
                            }
                        }

                        & > a {
                            color: #000;
                        }
                    }

                    &:nth-child(3):hover {
                        color: #000;

                        &::before {
                            content: url('https://api.iconify.design/heroicons-outline/chart-square-bar.svg?color=%239747ff&height=25');
                            position: absolute;
                            top: 4%;
                            left: -38px;

                            @media only screen and (min-width: 1050px) {
                                content: url('https://api.iconify.design/heroicons-outline/chart-square-bar.svg?color=%239747ff&height=25');
                                left: -38px;
                            }
    
                            @media only screen and (min-width: 1300px) {
                                content: url('https://api.iconify.design/heroicons-outline/chart-square-bar.svg?color=%239747ff&height=25');
                                left: -38px;
                            }
    
                            @media only screen and (min-width: 1500px) {
                                content: url('https://api.iconify.design/heroicons-outline/chart-square-bar.svg?color=%239747ff&height=25');
                                left: -38px;
                            }
    
                            @media only screen and (min-width: 1700px) {
                                content: url('https://api.iconify.design/heroicons-outline/chart-square-bar.svg?color=%239747ff&height=35');
                                left: -48px;
                            }
                        }

                        & > a {
                            color: #000;
                        }
                    }

                    &:nth-child(4):hover {

                        &::before {
                            content: url('https://api.iconify.design/mdi/text-box-search-outline.svg?color=%239747ff&height=25');
                            position: absolute;
                            top: 55%;
                            left: -38px;
                            transform: translateY(-45%);

                            @media only screen and (min-width: 1050px) {
                                content: url('https://api.iconify.design/mdi/text-box-search-outline.svg?color=%239747ff&height=25');
                                left: -38px;
                            }
    
                            @media only screen and (min-width: 1300px) {
                                content: url('https://api.iconify.design/mdi/text-box-search-outline.svg?color=%239747ff&height=25');
                                left: -38px;
                            }
    
                            @media only screen and (min-width: 1500px) {
                                content: url('https://api.iconify.design/mdi/text-box-search-outline.svg?color=%239747ff&height=25');
                                left: -38px;
                            }
    
                            @media only screen and (min-width: 1700px) {
                                content: url('https://api.iconify.design/mdi/text-box-search-outline.svg?color=%239747ff&height=35');
                                left: -48px;
                            }
                        }

                        & > a {
                            color: #000;
                        }
                    }

                    // dashboard
                    &:nth-child(1)::before {
                        content: url('https://api.iconify.design/ic/outline-space-dashboard.svg?color=%23B7B7B7&height=25');
                        position: absolute;
                        top: 56%;
                        transform: translateY(-50%);
                        left: -38px;

                        @media only screen and (min-width: 1050px) {
                            content: url('https://api.iconify.design/ic/outline-space-dashboard.svg?color=%23B7B7B7&height=25');
                            left: -38px;
                        }

                        @media only screen and (min-width: 1300px) {
                            content: url('https://api.iconify.design/ic/outline-space-dashboard.svg?color=%23B7B7B7&height=25');
                            left: -38px;
                        }

                        @media only screen and (min-width: 1500px) {
                            content: url('https://api.iconify.design/ic/outline-space-dashboard.svg?color=%23B7B7B7&height=25');
                            left: -38px;
                        }

                        @media only screen and (min-width: 1700px) {
                            content: url('https://api.iconify.design/ic/outline-space-dashboard.svg?color=%23B7B7B7&height=35');
                            left: -48px;
                        }
                    }

                    // records
                    &:nth-child(2)::before {
                        content: url('https://api.iconify.design/fluent/task-list-square-rtl-24-regular.svg?color=%23B7B7B7&height=25');
                        position: absolute;
                        top: 4%;
                        left: -38px;

                        @media only screen and (min-width: 1050px) {
                            content: url('https://api.iconify.design/fluent/task-list-square-rtl-24-regular.svg?color=%23B7B7B7&height=25');
                            left: -38px;
                        }

                        @media only screen and (min-width: 1300px) {
                            content: url('https://api.iconify.design/fluent/task-list-square-rtl-24-regular.svg?color=%23B7B7B7&height=25');
                            left: -38px;
                        }

                        @media only screen and (min-width: 1500px) {
                            content: url('https://api.iconify.design/fluent/task-list-square-rtl-24-regular.svg?color=%23B7B7B7&height=25');
                            left: -38px;
                        }

                        @media only screen and (min-width: 1700px) {
                            content: url('https://api.iconify.design/fluent/task-list-square-rtl-24-regular.svg?color=%23B7B7B7&height=35');
                            left: -48px;
                        }
                    }

                    // manage report
                    &:nth-child(3)::before {
                        content: url('https://api.iconify.design/heroicons-outline/chart-square-bar.svg?color=%23B7B7B7&height=25');
                        position: absolute;
                        top: 4%;
                        left: -38px;

                        @media only screen and (min-width: 1050px) {
                            content: url('https://api.iconify.design/heroicons-outline/chart-square-bar.svg?color=%23B7B7B7&height=25');
                            left: -38px;
                        }

                        @media only screen and (min-width: 1300px) {
                            content: url('https://api.iconify.design/heroicons-outline/chart-square-bar.svg?color=%23B7B7B7&height=25');
                            left: -38px;
                        }

                        @media only screen and (min-width: 1500px) {
                            content: url('https://api.iconify.design/heroicons-outline/chart-square-bar.svg?color=%23B7B7B7&height=25');
                            left: -38px;
                        }

                        @media only screen and (min-width: 1700px) {
                            content: url('https://api.iconify.design/heroicons-outline/chart-square-bar.svg?color=%23B7B7B7&height=35');
                            left: -48px;
                        }
                    }

                    // activities
                    &:nth-child(4)::before {
                        content: url('https://api.iconify.design/mdi/text-box-search-outline.svg?color=%23B7B7B7&height=25');
                        position: absolute;
                        top: 55%;
                        transform: translateY(-45%);
                        left: -38px;

                        @media only screen and (min-width: 1050px) {
                            content: url('https://api.iconify.design/mdi/text-box-search-outline.svg?color=%23B7B7B7&height=25');
                            left: -38px;
                        }

                        @media only screen and (min-width: 1300px) {
                            content: url('https://api.iconify.design/mdi/text-box-search-outline.svg?color=%23B7B7B7&height=25');
                            left: -38px;
                        }

                        @media only screen and (min-width: 1500px) {
                            content: url('https://api.iconify.design/mdi/text-box-search-outline.svg?color=%23B7B7B7&height=25');
                            left: -38px;
                        }

                        @media only screen and (min-width: 1700px) {
                            content: url('https://api.iconify.design/mdi/text-box-search-outline.svg?color=%23B7B7B7&height=35');
                            left: -48px;
                        }
                    }

                    &.active-parent {
                        color: #000;

                        & > a {
                            text-decoration: none;
                            color: #000;
                        }

                        &::before {
                            content: url('https://api.iconify.design/fluent/task-list-square-rtl-24-regular.svg?color=%239747ff&height=25');
                            position: absolute;
                            top: 20px;
                            transform: translateY(-50%);
                            left: -38px;

                            @media only screen and (min-width: 1050px) {
                                content: url('https://api.iconify.design/fluent/task-list-square-rtl-24-regular.svg?color=%239747ff&height=25');
                                left: -38px;
                            }
    
                            @media only screen and (min-width: 1300px) {
                                content: url('https://api.iconify.design/fluent/task-list-square-rtl-24-regular.svg?color=%239747ff&height=25');
                                left: -38px;
                            }
    
                            @media only screen and (min-width: 1500px) {
                                content: url('https://api.iconify.design/fluent/task-list-square-rtl-24-regular.svg?color=%239747ff&height=25');
                                left: -38px;
                            }
    
                            @media only screen and (min-width: 1700px) {
                                content: url('https://api.iconify.design/fluent/task-list-square-rtl-24-regular.svg?color=%239747ff&height=35');
                                left: -48px;
                            }
                        }

                        &::after {
                            content: '';
                            height: 22%;
                            width: 4px;
                            border-radius: 4px;
                            background: #774AB0;
                            position: absolute;
                            top: 27%;
                            right: 0;
                        }
                    }
                    
                    // employee highlight
                    
                    &:nth-child(2) > ul > li:nth-child(1) > a {
                        color: #000;
                    }

                    & > ul {
                        list-style: none;
                        padding-top: 12px;
                        box-sizing: border-box;

                        & > li {
                            font-weight: $semibold;
                            padding: 5px 0 5px 25px;
                            border-left: 4px solid #8B69B6;

                            @media only screen and (min-width: 1050px) {
                                padding: 5px 0 5px 25px;
                            }
    
                            @media only screen and (min-width: 1300px) {
                                padding: 5px 0 5px 25px;
                            }
    
                            @media only screen and (min-width: 1500px) {
                                padding: 5px 0 5px 25px;
                            }
    
                            @media only screen and (min-width: 1700px) {
                                padding: 10px 0 5px 25px;
                            }

                            & > a {
                                text-decoration: none;
                                color: #B7B7B7;
                                transition: 200ms ease-in-out;
                            }

                            &:hover a {
                                color: #000;
                            }

                            &:first-child {
                                padding-top: 0px;
                            }

                            &:last-child {
                                padding-bottom: 0px;
                            }
                        }
                    }
                }
            }

            // logout
            & > div {
                position: relative;
                margin-bottom: 20px;

                &::before {
                    content: url('https://api.iconify.design/akar-icons/sign-out.svg?color=%23B7B7B7&height=25');
                    position: absolute;
                    top: 60%;
                    transform: translateY(-50%);
                    left: -38px;
                    transition: 200ms ease-in-out;

                    @media only screen and (min-width: 1050px) {
                        content: url('https://api.iconify.design/akar-icons/sign-out.svg?color=%23B7B7B7&height=25');
                        left: -38px;
                    }

                    @media only screen and (min-width: 1300px) {
                        content: url('https://api.iconify.design/akar-icons/sign-out.svg?color=%23B7B7B7&height=25');
                        left: -38px;
                    }

                    @media only screen and (min-width: 1500px) {
                        content: url('https://api.iconify.design/akar-icons/sign-out.svg?color=%23B7B7B7&height=25');
                        left: -38px;
                    }

                    @media only screen and (min-width: 1700px) {
                        content: url('https://api.iconify.design/akar-icons/sign-out.svg?color=%23B7B7B7&height=35');
                        left: -48px;
                    }
                }

                &:focus-within {

                    &::before {
                        content: url('https://api.iconify.design/akar-icons/sign-out.svg?color=%239747ff&height=25');
                        position: absolute;
                        top: 60%;
                        transform: translateY(-50%);
                        left: -38px;

                        @media only screen and (min-width: 1050px) {
                            content: url('https://api.iconify.design/akar-icons/sign-out.svg?color=%239747ff&height=25');
                            left: -38px;
                        }
    
                        @media only screen and (min-width: 1300px) {
                            content: url('https://api.iconify.design/akar-icons/sign-out.svg?color=%239747ff&height=25');
                            left: -38px;
                        }
    
                        @media only screen and (min-width: 1500px) {
                            content: url('https://api.iconify.design/akar-icons/sign-out.svg?color=%239747ff&height=25');
                            left: -38px;
                        }
    
                        @media only screen and (min-width: 1700px) {
                            content: url('https://api.iconify.design/akar-icons/sign-out.svg?color=%239747ff&height=35');
                            left: -48px;
                        }
                    }

                    a {
                        color: #000;
                    }
                }

                &:hover {
                    &::before {
                        content: url('https://api.iconify.design/akar-icons/sign-out.svg?color=%239747ff&height=25');
                        position: absolute;
                        top: 60%;
                        transform: translateY(-50%);
                        left: -38px;

                        @media only screen and (min-width: 1050px) {
                            content: url('https://api.iconify.design/akar-icons/sign-out.svg?color=%239747ff&height=25');
                            left: -38px;
                        }
    
                        @media only screen and (min-width: 1300px) {
                            content: url('https://api.iconify.design/akar-icons/sign-out.svg?color=%239747ff&height=25');
                            left: -38px;
                        }
    
                        @media only screen and (min-width: 1500px) {
                            content: url('https://api.iconify.design/akar-icons/sign-out.svg?color=%239747ff&height=25');
                            left: -38px;
                        }
    
                        @media only screen and (min-width: 1700px) {
                            content: url('https://api.iconify.design/akar-icons/sign-out.svg?color=%239747ff&height=35');
                            left: -48px;
                        }
                    }

                    a {
                        color: #000;
                    }
                }

                & > a {
                    text-decoration: none;
                    color: #B7B7B7;
                    font-weight: $semibold;
                    transition: 200ms ease-in-out;

                    @media only screen and (min-width: 1050px) {
                        font-size: 14px;
                    }

                    @media only screen and (min-width: 1300px) {
                        font-size: 16px;
                    }

                    @media only screen and (min-width: 1500px) {
                        font-size: 16px;
                    }

                    @media only screen and (min-width: 1700px) {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    & > .centerbar {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 35px 60px 20px 35px;
        width: 82%;
        height: 100%;
        background: #9848FE;
        position: relative;

        & > .centerbar-info {
            display: flex;
            justify-content: space-between;
            width: 100%;

            & > h1 {
                font-size: 16px;
                font-weight: $semibold;
                color: #fff;
            }

            & > .profile-container {
                display: flex;
                align-items: center;

                & > h3 {
                    font-weight: $medium;
                    margin-right: 15px;
                    font-size: 14px;
                    color: #fff;
                }

                & > a > div > img {
                    height: 33px;
                    width: 33px;
                    border-radius: 50%;
                    background: #666;
                }
            }
        }

        & > .centerbar-content {
            width: 100%;
            height: 100%;
            position: relative;
            box-sizing: border-box;

            & > .centerbar-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                min-height: 450px;
                width: 300px;
                @include n-center;

                & > form { display: flex; flex-direction: column; align-items: center; width: 100%; }

                & > form > img {
                    height: 200px; 
                    width: 200px;
                }

                & > form > input {
                    background: #A863FF;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    color: #fff;
                    font-weight: $medium;
                    font-size: 14px;
                    padding: 10px 15px;
                    box-sizing: border-box;
                    margin-top: 15px;
                    width: 100%;
                }

                & > form > button {
                    background: #F39E49;
                    border-radius: 50px;
                    border: none;
                    padding: 10px 0;
                    text-transform: uppercase;
                    font-weight: $semibold;
                    color: #fff;
                    margin: 20px 0;
                    cursor: pointer;
                    width: 100%;
                    box-sizing: border-box;

                    &:hover {
                        background: darken(#F39E49, 5%);
                    }
                }

                & > form > a {
                    text-decoration: none;
                    color: #D1D1D1;
                    font-size: 14px;

                    &:hover { color: darken(#D1D1D1, 10%); }
                }
            }
        }
    }
}